/* CUSTOM CSS */
button.button.wc-quick-purchase-btn {
  width: 100%;
  height: 40px;
  border-radius: 8px;
  margin-top: 16px;
  cursor: pointer;
}
.wcqp-close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 18px;
  cursor: pointer;
}
.wcqp-attribute-group {
  margin-bottom: 10px;
  width: 100%;
}
.wcqp-attribute-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}
.wcqp-attribute-group select {
  width: 100%;
  padding: 5px;
}
.wcqp-price {
  margin-top: 10px;
  font-size: 16px;
  font-weight: bold;
  color: #333;
  white-space: normal;
}
#wcqp-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 15px;
}
#wcqp-form label {
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 0px;
  line-height: 17px;
}
#wcqp-form input {
  padding: 6px 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
}
.wcqp-submit {
  background-color: #0071a1;
  color: #fff;
  padding: 8px;
  border: none !important;
  border-radius: 6px !important;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.2s ease;
}
.wcqp-submit:hover {
  background-color: #005f85;
}
#wc-quick-purchase-popup {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}
.wcqp-popup-content {
  background: #fff;
  padding: 24px;
  border-radius: 10px;
  width: 100%;
  max-width: 500px;
  max-height: 90vh;
  overflow-y: auto;
}
.wcqp-close {
  float: right;
  cursor: pointer;
  font-size: 20px;
}
.wcqp-option {
  border: 2px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  cursor: pointer;
}
.wcqp-option.selected {
  border-color: #28a745;
  background-color: #eaffea;
}
.wcqp-discount {
  background: orange;
  color: #fff;
  padding: 2px 6px;
  font-size: 12px;
  border-radius: 4px;
}
.wcqp-note {
  color: red;
  font-size: 12px;
}
.wcqp-submit {
  display: block;
  width: 100%;
  padding: 12px;
  background: #28a745;
  color: #fff;
  border: none !important;
  border-radius: 8px !important;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}
h3.wcqp-title {
  text-align: center;
  font-size: 15px;
  font-weight: 600;
}
p.wcqp-hint {
  font-size: 14px;
  color: red;
  font-weight: 500;
  text-align: center;
}
.wcqp-attribute-group label {
  font-size: 13px;
}
.wcqp-total {
  font-weight: bold;
  font-size: 16px;
  margin-top: 5px;
  text-align: center;
  margin-bottom: 5px;
}
.wcqp-qty-label {
  margin-top: 10px;
  margin-bottom: 10px;
  display: block;
  font-weight: 500;
  font-size: 14px;
}
.wcqp-row {
  display: flex;
  gap: 8px;
}
.wcqp-field {
  flex: 1;
}
.wcqp-field label {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
.wcqp-field input {
  width: 92%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.wcqp-attributes {
  display: flex;
  gap: 10px;
}
.group-attributes {
  display: block;
  background-color: #9af7e5;
  padding: 10px;
  border: 2px solid #387166;
  border-radius: 10px;
}
.content-attributes {
  display: flex;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
h4.wcqp-product-title {
  font-size: 16px;
  font-weight: 600;
}
.wcqp-qty input {
  width: 98%;
  height: 35px;
  border-radius: 6px !important;
}
.wcqp-popup-img {
  max-width: 100%;
  width: 50px;
  height: 50px !important;
  margin-bottom: 0;
  border-radius: 8px;
  border: 2px solid #797979;
}
.wcqp-campo {
  display: flex;
  flex-direction: column;
  gap: 3px;
}
p.wcqp-alt-text {
  margin: 0 auto;
  font-size: 16px;
}
.wcqp-buttom {
  display: block;
  padding: 12px;
  background: #28a745;
  color: #fff;
  border: none !important;
  border-radius: 8px !important;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  margin-top: 0;
  text-decoration: none;
  text-align: center;
}
@media (max-width: 480px) {
  .wcqp-row {
    flex-direction: column;
  }
}
